<nav id="nav" role="navigation">
  <div class="block">
      <h2 class="block-title">KB Hair Design</h2>
      <ul>
        <li class="<%= 'is-active'  if  root_path? %>">
              <a href="<%= root_path %>">Home</a>
          </li><!--
      --><li class="<%= 'is-active'  if current_page_path?('about') %>">
              <%= link_to "About", page_path("about") %>
          </li><!--
       --><li class="<%= 'is-active'  if current_page_path?('contact') %>">
              <%= link_to "Contact", page_path("contact") %>
          </li><!--
       -->
      </ul>
  </div>
</nav>