<% if allowed_device? %>

<div id="outer-wrap">
<div id="inner-wrap">

    <a class="nav-btn banner" id="nav-toggle-btn" href="#nav">Navigation</a>
    <header id="top" role="banner" class="no-flick">
    <div class="block">
      <br>
    <h1>KB</h1>
      <BR>
    <h2>hair design</h2>
    <a class="base-button" href="tel:+441213081439"><span aria-hidden="true" data-icon="&#xe00a;"></span>&nbsp;Call us</a>
   </div>
  </header>

    <nav id="nav" role="navigation">
      <div class="block">
          <h2 class="block-title">KB Hair Design</h2>
          <ul>
            <li class="is-active">
                  <a href="#">Home</a>
              </li><!--
          --><li>
                  <a href="#">About</a>
              </li><!--
           --><li>
                  <a href="#">Contact</a>
              </li><!--
           -->
          </ul>
      </div>
    </nav>


    <div id="main" role="main">
      <div class="grid">
        <div class="col-1">
          <hr>
          <%= render :partial => 'ladies_services' %>
          <hr>
          <%= render :partial => 'mens_services' %>
          <hr>
          <%= render :partial => 'opening_hours' %>
        </div> <!-- col-1 -->
      </div> <!-- grid -->
    </div> <!-- main-content -->
    <%= render :partial => 'footer' %>

</div>
<!--/#inner-wrap-->
</div>
<!--/#outer-wrap-->


<% else %>

<%= render :partial => 'original_site' %>

<% end %>

<%= javascript_include_tag("footer/footer") %>